<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167525003596-n6mqdtl9tcu10falrtuv8eaprm298hch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167525003596-n6mqdtl9tcu10falrtuv8eaprm298hch</string>
	<key>API_KEY</key>
	<string>AIzaSyDdXJVZveD-84TwHkj3EOGK3GKPeVOmmuo</string>
	<key>GCM_SENDER_ID</key>
	<string>167525003596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lourdes.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>messaging-93813</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-93813.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:167525003596:ios:58d5cebf3c05d774da9fe9</string>
</dict>
</plist>
